@import url("https://fonts.googleapis.com/css?family=Dosis:600");

/*VARIABLES*/
/*Colors*/

/*-----------------------------------------------
MOBILE
Content of mobile menu
-----------------------------------------------*/
.navbar{
    position:fixed;
    z-index: 100;
    top: 0px;
    --color: black;
    --text: white;
    --border: black;
}

.navbar .mobile {
    padding: 40px;
}

/*-----------------------------------------------
LABEL
-----------------------------------------------*/
.navbar .mobile__label {
    border: solid 2px;
    display: inline-block;
    background-color: var(--color);
    overflow: hidden;
    padding: 12px 9px;
    width: 50px;
    border-radius: 10px;
    white-space: nowrap;

    &:hover {
        cursor: pointer;

        /*ANIMAION POSITION ON HOVER*/
        .label__line {
            margin-left: 0px;
        }

        /*ANIMATION DELAY*/
        :nth-child(2) {
            .label__line {
                transition-delay: .1s;
            }
        }

        :nth-child(3) {
            .label__line {
                transition-delay: .2s;
            }
        }
    }
}

/*LINES CONTENT*/
.navbar .mobile__label__content {
    font-size: 0;
    line-height: 0;
    height: 2px;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0px;
    }
}

/*WHITE LINES*/
.navbar .label__line {
    background-color: var(--text);
    width: 24px;
    height: 2px;
    display: inline-block;
    margin-left: -33px;
    margin-right: 43px;
    /*LINES ANIMATION*/
    transition: margin-left .2s linear;
}

/*-----------------------------------------------
INPUT
-----------------------------------------------*/
.navbar .mobile__input {
    display: none;
}

/*-----------------------------------------------
NAV
-----------------------------------------------*/
.navbar .mobile__nav {
    margin: 10px 0px;
    max-height: 0;
    max-width: 0;
    width: fit-content;
    padding: 0px 20px;
    overflow: hidden;
    background: var(--color);
    border: solid 0px var(--border);
    border-radius: 20px;
    transition: border 1s ease-in-out, max-height 1s linear, max-width 1s linear;
}

.navbar .nav__item {
    white-space: nowrap;
    text-align: center;
    .link {
        text-decoration: none;
        display: block;
        margin: 10px 0px;
        color: var(--text);
        font-weight: bolder;
        transition: color 0.5s linear;

        &:hover{
            border-bottom: 2px solid;
            border-color: var(--text);
            transform: scale(1.1);
        }
    }
}

.navbar .mobile__input:checked+.mobile__nav {
    border: solid 2px var(--border);
    max-width: 50vw;
    max-height: 50vh;
}