.edit-data-form {
    display: flex;
    width: 100%;
    min-height: 80vh;
    overflow: hidden;
    --bgColor: #212d63;
    --color: black;
    --text: black;
}

.edit-data-form .loginbackground {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.edit-data-form .flex-flex {
    display: flex;
}

.edit-data-form .align-center {
    align-items: center;
}

.edit-data-form .center-center {
    align-items: center;
    justify-content: center;
}

.edit-data-form .box-root {
    box-sizing: border-box;
    padding-bottom: 30px;
}

.edit-data-form .flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.edit-data-form .loginbackground-gridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [start] 1fr [left-gutter] repeat(16, 86.6px) [left-gutter] 1fr [end];
    grid-template-columns: [start] 1fr [left-gutter] repeat(16, 86.6px) [left-gutter] 1fr [end];
    -ms-grid-rows: [top] 1fr [top-gutter] repeat(8, 64px) [bottom-gutter] 1fr [bottom];
    grid-template-rows: [top] 1fr [top-gutter] repeat(8, 64px) [bottom-gutter] 1fr [bottom];
    justify-content: center;
    margin: 0 -2%;
    transform: rotate(-12deg) skew(-12deg);
}

.edit-data-form .box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px var(--text);
}

.edit-data-form .box-background--blue {
    background-color: var(--bgColor);
}

.edit-data-form .box-background--blue800 {
    background-color: var(--bgColor);
}

.edit-data-form .box-background--gray100 {
    box-shadow: inset 0 0 0 2px var(--text);

}

.edit-data-form .padding-top--64 {
    padding-top: 64px;
}

.edit-data-form .padding-top--24 {
    padding-top: 24px;
}

.edit-data-form .padding-top--48 {
    padding-top: 48px;
}

.edit-data-form .padding-bottom--24 {
    padding-bottom: 24px;
}

.edit-data-form .padding-horizontal--48 {
    padding: 48px 0px;
}

.edit-data-form .padding-bottom--15 {
    padding-bottom: 15px;
}


.edit-data-form .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.edit-data-form .formbg {
    max-width: 800px;
    height: fit-content;
    margin: 0px auto;
    width: 100%;
    padding: 0px 40px;
    color: var(--text);
    border: 1px solid hsla(0, 0%, 65%, 0.148);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.edit-data-form h1 {
    color: var(--text);
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.edit-data-form label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.edit-data-form .grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.edit-data-form .field {
    margin-bottom: 25px;
}

.edit-data-form .field input[type="text"],
.edit-data-form .field input[type="number"],
.edit-data-form input[type="submit"],
.edit-data-form input[type="file"],
.edit-data-form textarea {
    width: 95%;
    display: block;
    margin: 10px 0px;
    padding: 15px 15px;
    color: var(--color);
    outline: none;
    background-color: hsla(0, 0%, 66%, 0.753);
    justify-self: center;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.edit-data-form input[type="submit"] {
    background-color: var(--bgColor);
    color: var(--color);
    font-weight: 700;
    cursor: pointer;
}

.edit-data-form input[type="checkbox"] {
    width: 28px;
    height: 18px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


.edit-data-form .animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
}

.edit-data-form .animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
}

.edit-data-form .tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
}

.edit-data-form .tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
}

@keyframes animationLeftRight {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes animationRightLeft {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-1000px);
    }

    100% {
        transform: translateX(0px);
    }
}